.recent-books .card {
    height: 30rem;
}

.recent-books .card-title {
    height: 5rem;
    overflow: hidden;
}
.recent-books .card-text {
    height: 2.5rem;
    overflow: hidden;
}
.custom-img {
    height: 15rem;
    width: auto;
}
